{% extends "layout.njk" %}

{% block head %} 
  <title>Sobre</title>  
{% endblock %}

{% block content %}

<div id="wrapper">
  <img src="https://cdn.pixabay.com/photo/2015/07/28/21/58/student-865073_960_720.jpg" alt="">
  <h1>Aulas</h1>
  <h2>Instrutores de Programação</h2>
  <p>Lorem ipsum non hac nibh ullamcorper quisque donec, proin eleifend ultrices sollicitudin aliquam nisi metus imperdiet, arcu class eros hendrerit eros scelerisque.</p>
</div>

<div class="links" id="links-footer">
  <a href="#" target="_blank">Github</a>
  <a href="#" target="_blank">Twitter</a>
  <a href="#" target="_blank">LinkedIn</a>
</div>

{% endblock %}